main {
  position: relative;
}
nav {
position: static;
background-color: red;
height: 40px;
width: 100%;
margin-top: 20px;
margin-bottom: 0px;
overflow: auto;
}
nav li { 
  display: inline;
}
p.content {
  top: 100px;
}
h.name {
  top: 100px;
}
img.me {
  top: 100px;
}

section#left { float: left;
width: 50%;
background-color: ;
color: ;
}
section#right {float: right;
width: 50%;
background-color: ;
color: ;
}
