main {
  position: relative;
}
nav {
position: static;
background-color: red;
height: 40px;
width: 100%;
margin-top: 20px;
margin-bottom: 0px;
overflow: auto;
}
nav li { 
  display: inline;
}
p.content {
  top: 100px;
}
h.name {
  top: 100px;
}
img.me {
  top: 100px;
}
