main {
  position: relative;
}
nav {
position: static;
background-color: red;
height: 40px;
width: 100%;
margin-top: 20px;
margin-bottom: 0px;
overflow: auto;
text-align: center;
}
nav li { 
  display: inline;
}
p.content {
  top: 100px;
}
h.name {
  top: 100px;
}
h#peeps {
  top: 50px;
}
img.me {
  top: 100px;
}
img#swag {
  top: 100px;
}

section#left { float: left;
width: 50%;
background-color: orange;
height: 120%;
color: ;
}
section#right {float: right;
width: 50%;
height: 120%;
background-color: lightblue ;
text-align: center;
margin: ;
color: ;
}
header {
position: static;
background-color: black;
top: 0px;
left: 0px;
width: 100%;
height: 20px;
}
