section#dobox {
  background-color: blue;
  position: relative;
  height: 300px;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  float: middle;
  align: center;
  
}
section#enterbox {
  postion: relative;
  float:;
  text-align: center;
  
}
button#Add
{
  
}
h1#stuff {
  text-align: center;
}

option#orange {
  color: orange;
}
option#green {
  color: green;
}
option#grey {
  color: grey;
}
